<div class="container" style="margin-left:50px; font-family: 'Mitr', sans-serif;">
  <div class="row" >
    <div class="col-12">

      <mat-card style="margin-top: 20px; background-color:rgb(249, 181, 55) ;">
        <div class="row" style="margin-top: 5px;margin-bottom: 5px;">
          <div class="col-2" style="text-align: center;">
            <span>ลำดับ</span>
          </div>
          <div class="col-5">
            <span>ชื่ออาหาร</span>
          </div>
          <div class="col-2">
            <span>ราคา</span>
          </div>
          <div class="col-3">
            <span>สถานะ</span>
          </div>
        </div>
      </mat-card>

      <mat-card style="margin-top: 10px;">
        <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
          <div class="col-2" style="text-align: center;">
            <span></span>
          </div>
          <div class="col-5">
            <span></span>
          </div>
          <div class="col-2">
            <span></span>
          </div>
          <div class="col-3">
            <span></span>
          </div>
        </div>
      </mat-card>
      <span><button mat-button color="warn" routerLink="/main">กลับ</button></span>
    </div>
